body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: rgb(53, 50, 50);
  color: #ffff;
  padding: 0 35px;
}

.notaty {
  font-size: 30px;
  font-family: cursive;
}

.search-bar {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-bar .add-btn {
  color: #ffff;
  font-size: 20px;
  padding: 8px;
  width: 70px;
  background-color: rgb(74, 130, 250);
  border: none;
  border-radius: 5px;
}

.search-bar .search-btn {
  color: #ffff;
  font-size: 20px;
  padding: 8px;
  width: 100px;
  background-color: rgb(74, 130, 250);
  border: none;
  border-radius: 5px;
}

.search-bar input {
  font-size: 20px;
  padding: 8px;
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
}
