body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-color: rgb(53, 50, 50);
  color: #ffff;
  padding: 0 35px;
}

.notaty {
  font-size: 30px;
  font-family: cursive;
}

.search-bar {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  color: #ffff;
  font-size: 20px;
  padding: 8px;
  width: 70px;
  background-color: rgb(74, 130, 250);
  border: none;
  border-radius: 5px;
}

.btn {
  color: #ffff;
  font-size: 20px;
  padding: 8px;
  width: 100px;
  background-color: rgb(74, 130, 250);
  border: none;
  border-radius: 5px;
}

.search-bar input {
  font-size: 20px;
  padding: 8px;
  width: 50%;
  border: 1px solid grey;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 17px;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 55%;
}

.col-3 {
  width: 20%;
}
.col-4 {
  width: 5%;
}

td,
th {
  border: 1px solid rgb(233, 233, 233);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cecdcd;
}

tr:hover td {
  background-color: lightblue;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: "flex";
  flex-direction: "column";
  gap: 5px;
  height: 40%;
  width: 40%;
  gap: 20px;
}

#title-input {
  width: 98%;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(192, 188, 188);
  border-radius: 8px;
}

.content-input {
  width: 97.5%;
  height: 70%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.addNote-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.del-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.del-edit-container button {
  border: 1px solid rgb(165, 157, 157);
  border-radius: 5px;
}
.del-edit-container button img {
  width: 30px;
}
@keyframes new-row {
  0% {
    background-color: #ffd700;
  }
}
